.filter__wrapper {
display: flex;
justify-content: center;
}

.filter__label {
  width: 600px;
  display: flex;
  flex-direction: column;
  
  }

.filter__input {
  /* width: 100%; */
  margin-top: 5px;
}

.filter__input:hover,
.filter__input:focus {
  border-color: cornflowerblue;
}
